<!DOCTYPE html>
<html  lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <link rel="icon" href="{{ url_for('static', filename='images/logo.svg') }}" type="image/svg+xml"
          integrity="{{get_sri('static/images', 'logo.svg')}}"
          crossorigin="anonymous">

    {{ moment.include_moment(local_js='/static/js/lib/moment-with-locales.min.js',
                             sri=get_sri('static/js/lib', 'moment-with-locales.min.js')) }}
    {% block styles %}
    <!-- Included stylesheets -->
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"
          integrity="{{get_sri('static/css', 'style.css')}}"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ribbon.css') }}"
          integrity="{{get_sri('static/css', 'ribbon.css')}}"
          crossorigin="anonymous">

    {% set overrides_css = load_custom_css('overrides.css') %}
    {% if overrides_css %}
    <link rel="stylesheet" href="{{ overrides_css[0] }}"
          integrity="{{ overrides_css[1] }}"
          crossorigin="anonymous">
    {% endif %}
    {% endblock %}

    <title>{% block title %}Pandora{% endblock %}</title>
    {% endblock %}
  </head>

  <body>
    {% include "custom_header.html" ignore missing %}
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a class="navbar-brand" href="{{ url_for('api_root') }}">
          <img src="{{ url_for('static', filename='images/logo-h.svg') }}" style="width:250px;" alt="PANDORA"
               integrity="{{get_sri('static/images', 'logo-h.svg')}}"
               crossorigin="anonymous">
        </a>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mx-5">
                {% if current_user.role.can([action.list_all_tasks, action.list_own_tasks], 'or') %}
                    <li id="tasks-nav" class="nav-item">
                        <a class="nav-link active" href="{{ url_for('api_tasks') }}">Recent</a>
                    </li>
                {% endif %}

                {% if current_user.role.can('submit_file') %}
                    <li id="submit-nav" class="nav-item">
                        <a class="nav-link active" href="{{ url_for('api_submit_page') }}">Submit</a>
                    </li>
                {% endif %}
                {% if current_user.role.can('list_users') %}
                    <li class="nav-item" id="roles-nav">
                        <a class="nav-link active" href="{{ url_for('api_roles') }}">Roles</a>
                    </li>
                {% endif %}
                {% if current_user.role.can('list_users') %}
                    <li class="nav-item" id="users-nav">
                        <a class="nav-link active" href="{{ url_for('api_users') }}">Users</a>
                    </li>
                {% endif %}
                {% if current_user.role.can('manage_observables_lists') %}
                    <li class="nav-item" id="stats-nav">
                        <a class="nav-link active" href="{{ url_for('observables_lists') }}">Observables lists</a>
                    </li>
                {% endif %}
                {% if current_user.role.can('list_stats') %}
                    <li class="nav-item" id="stats-nav">
                        <a class="nav-link active" href="{{ url_for('api_stats') }}">Statistics</a>
                    </li>
                {% endif %}
                {% if current_user.is_admin %}
                    <li class="nav-item" id="admin-nav">
                        <a class="nav-link active" href="{{ url_for('api_admin_page') }}">Admin</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav mx-5">
              <li class="nav-item">
                <div onclick="toggle_detailed_view()">
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" value=""
                           id="detailedView" {% if current_user.detailed_view %}checked{% endif %}>
                    <label class="form-check-label" for="detailedView">
                      Detailed view
                    </label>
                  </div>
                </div>
              </li>
            </ul>
        </div>
      </div>
      {% if show_project_page %}
      <div class="corner-ribbon top-right sticky bg-light shadow">
        <a href="https://github.com/pandora-analysis">Project page</a>
      </div>
      {% endif %}
    </nav>

    <div class="container">
      {% block content %}{% endblock %}
    </div>

    {% include "custom_footer.html" ignore missing %}

    {% block scripts %}
    <!-- Included scripts -->
    {{ bootstrap.load_js() }}
    <script src="{{ url_for('static', filename='js/lib/jquery.min.js') }}"
            integrity="{{get_sri('static/js/lib', 'jquery.min.js')}}"
            crossorigin="anonymous"></script>

    {% set overrides_js = load_custom_js('overrides.js') %}
    {% if overrides_js %}
    <script src="{{  overrides_js[0] }}"
            integrity="{{ overrides_js[1] }}"
            crossorigin="anonymous"></script>
    {% endif %}
    <script>
        function toggle_detailed_view() {
            fetch("{{ url_for('api_toggle_detailed_view') }}", {
                  method: 'POST', // or 'PUT'
                  headers: {"X-CSRF-Token": "{{ csrf_token() }}"},
            })
              .then((response) => response.json())
              .then((data) => {
                      console.log('Success:', data);
                      window.location.reload(true);
                    })
              .catch((error) => {
                      console.error('Error:', error);
                    });
        }
    </script>

    {% endblock %}

  </body>
</html>
