<div class="col-md-12" id="{{worker_name}}">
  <div>
    <h3>{{worker_name}} Report</h3>
  </div>

  <table class="table table-hover table-bordered">
    <tr>
      <th scope="row" style="width:30%">Status</th>
      <td>{{report.status.name}}</td>
    </tr>
    {% if report.details %}
    <tr>
      <th scope="row" style="width:30%">Details</th>
      <td>
        <table class="table table-striped">
          {% for key, value in report.details.items() %}
          <tr>
            <th scope="row">{{key}}</th>
            <td>{{value}}</td>
         </tr>
          {% endfor %}
        </table>
      </td>
    </tr>
    {% endif %}
  </table>
</div>
