{% from 'bootstrap5/utils.html' import render_icon %}
{% from "macros.html" import display_status_badge %}

<div class="col-md-12" id="{{worker_name}}">
  <div>
    <span class="h3">{{worker_meta.name}}</span>
    <span style="vertical-align:top;" data-bs-toggle="tooltip" title="{{worker_meta.description}}">{{render_icon('question-circle')}}</span>
  </div>

  <table class="table table-hover table-bordered">
    <tr>
      <th scope="row" style="width:30%">Status</th>
      <td>
        {{ display_status_badge(report.status, status) }}
      </td>
    </tr>
    {% if report.details %}
    <tr>
      <th scope="row" style="width:30%">Details</th>
      <td>
        <table class="table table-striped">
          {% for key, value in report.details.items() %}
          <tr>
            <th scope="row">{{key}}</th>
            <td>
            {% if value is string %}
              {{value}}
            {% elif value is mapping %}
            {% for k, v in value.items() %}
              {{k}} - {{v}}</br>
            {% endfor %}
            {% elif value is sequence %}
            {% for v in value %}
              {{v}}</br>
            {% endfor %}
            {% else %}
              {{value}}
            {% endif %}
            </td>
         </tr>
          {% endfor %}
        </table>
      </td>
    </tr>
     {% if 'no_password' in report.extras and report.extras['no_password'] %}
     <tr>
       <td>
         The sample is encrypted and the password is unknown. Try again with an other one?
       </td>
       <td>
          <div class="row g-3 align-items-center">
            <div class="col-auto">
              <label for="password" class="col-form-label">Password:</label>
            </div>
            <div class="col-auto">
              <input style="width:300px" class="form-control" aria-describedby="Password to decrypt" id="password" name="password" type="text" required>
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-secondary" id="shareBuild" style="float: right;"
                      onclick="javascript:analysis.rescan($(this).attr('data-url'))"
                      data-url="{{ url_for('PandoraAPI_api_task_action', task_id=task.uuid, seed=seed, action='rescan') }}">
                Rescan
              </button>
            </div>
          </div>
       </td>
     </tr>
     {% endif %}
    {% endif %}
  </table>
</div>
