{% from 'bootstrap5/utils.html' import render_icon %}
{% from "macros.html" import display_task_status %}

<div class="row" style="margin-bottom:30px">
  <div class="col-md-8">
    <h3>Extracted</h3>
  </div>
</div>

<div class="row">
  <table class="table table-hover table-bordered" id="extractedTaskRows">
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Status</th>
    </tr>
    {% for extracted_task in task.extracted %}
    <tr id="extractedTaskRow-{{ extracted_task.uuid }}">
      <td>
				{{ extracted_task.save_date }}
      </td>
      <td>
        <a href="{{ url_for('api_analysis', task_id=extracted_task.uuid, seed=seed) }}">
          {{ render_icon(task.file.icon) }}
          <span>{{ extracted_task.file.original_filename }}</span>
        </a>
      </td>
      <td>
        {{ display_task_status(extracted_task.status, status) }}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
