{% macro display_status_badge(entry_status, status) %}
{% if entry_status == status.OVERWRITE %}
<span class="badge bg-secondary" title="Can't say, overwritten by admin.">
{% elif entry_status == status.ALERT %}
<span class="badge bg-danger" title="Consider this as malicious">
{% elif entry_status == status.WARN %}
<span class="badge bg-warning" title="Consider this as suspicious, act accordingly">
{% elif entry_status == status.CLEAN %}
<span class="badge bg-success" title="Consider it as clean, but check if any other module flag it as dangerous">
{% elif entry_status == status.ERROR %}
<span class="badge bg-dark" title="Something went wrong.">
{% elif entry_status in [status.DISABLED, status.NOTAPPLICABLE] %}
<span class="badge bg-secondary" title="Unable to determine the legitimacy">
{% endif %}
  {{ entry_status.name|lower }}
</span>
{% endmacro %}


{% macro display_task_status(task_status, status) %}
{% from 'bootstrap5/utils.html' import render_icon %}
<span class="img-thumbnail small-status-flag status-flag-{{ task_status.name.lower() }}">
{% if task_status == status.OVERWRITE %}
  {{ render_icon('question-octagon') }}
{% elif task_status == status.ERROR %}
  {{ render_icon('exclamation-octagon') }}
{% elif task_status == status.ALERT %}
  <img src="{{ url_for('static', filename='images/skull.svg') }}" width = "15" height = "15">
{% elif task_status == status.WARN %}
{{ render_icon('exclamation-triangle') }}
{% elif task_status == status.CLEAN %}
{{ render_icon('check-circle') }}
{% else %}
  {{ render_icon('question') }}
{% endif %}
</span>
{% endmacro %}
