{% from 'bootstrap5/utils.html' import render_icon %}
{% from "macros.html" import display_status_badge %}

<div class="row" style="margin-bottom:30px">
  <div class="col-md-8">
    <h3>Observables</h3>
  </div>
</div>

<div class="row">
  <table class="table table-hover table-bordered" id="observablesTaskRows">
    <tr>
      <th>Status</th>
      <th>Type</th>
      <th>Observable</th>
      <th>Warninglists</th>
    </tr>
    {% for observable in task.observables %}
    <tr id="observableRow-{{ observable.sha256 }}">
      <td style="width:115px">
        {{ display_status_badge(observable.status, status) }}
      </td>
      <td style="width: 110px">
				{{ observable.observable_type }}
      </td>
      <td style="max-width: 400px">
        <div style="word-wrap: break-word">{{observable.value}}</div>
        {% if lookyloo_url and observable.observable_type == "url" %}
        <div style="float:right" id="lookyloo_submit-{{observable.sha256}}" class="btn alert-link"
             onclick="lookyloo('{{lookyloo_url}}', '{{observable.sha256}}', '{{observable.value}}')">
          Submit to Lookyloo
        </div>
        <a style="float:right;display:none" id='lookyloo_link-{{observable.sha256}}'
           class="btn alert-link" target="_blank" href=''>
          See capture on lookyloo
        </a>
        {% endif %}
      </td>
      <td style="max-width: 300px">
        <ul>
        {% for wl in observable.warninglists%}
          <li>{{wl.name}}</li>
        {% endfor %}
        </ul>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
