{% from 'bootstrap5/utils.html' import render_icon %}

<div class="row" style="margin-bottom:30px">
  <div class="col-md-8">
    <h3>Observables</h3>
  </div>
</div>

<div class="row">
  <table class="table table-hover table-bordered" id="observablesTaskRows">
    <tr>
      <th>Type</th>
      <th>Observable</th>
    </tr>
    {% for observable in task.observables %}
    <tr id="observableRow-{{ observable.sha256 }}">
      <td>
				{{ observable.observable_type }}
      </td>
      <td>
        {{observable.value}}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>

