{% extends "base.html" %}
{% from 'bootstrap5/utils.html' import render_icon %}

{% block title %}
Pandora - statistics
{% endblock %}

{% block content %}
<div class="container">
  <div class="controls row">
    <div class="col-md-9 col-sm-12">
      <form class="form-inline">
        <label for="period" class="control-label">Period over</label>
        <div class="form-group">
          <select id="period" class="form-control">
            <option value="year" selected="selected">Year</option>
            <option value="month">Month</option>
            <option value="week">Week</option>
            <option value="day" >Day</option>
          </select>
        </div>
      </form>
    </div>
    <div id="datepicker-bloc" class="col-sm-12 col-md-3 form-inline text-center">
      <button type="button" class="btn btn-light btn-sm p-0" onclick="previousDate()">{{ render_icon('caret-up') }}</button>
      <input id="date-picker" type="text" class="form-control" flex>
      <button type="button" class="btn btn-light btn-sm p-0 disabled" id="next-date" onclick="nextDate()">{{ render_icon('caret-down') }}</button>
    </div>
  </div>

    <div id="interval-info" class="row col-md-12 text-center">
        <h4>From <b class="start-date">...</b> to <b class="end-date">...</b></h4>
    </div>

    <canvas class="my-4 w-100" id="submit-chart" width="900" height="380"></canvas>

    <div  id="metrics" class="row col-md-12">
        <div class="text-center col-md-4">
            <div id="alert-ratio">
                <span class="ratio metric">...</span>
                <span class="perc">%</span>
            </div>
            <h3>Alert Ratio</h3>
        </div>
        <div id="malicious-submits" class="text-center col-md-4">
            <span class="metric ratio-alert">500K</span>
            <h3>Malicious submits</h3>
        </div>
        <div id="suspicious-submits" class="text-center col-md-4">
            <span class="metric ratio-alert">500K</span>
            <h3>Suspicious submits</h3>
        </div>
        <div id="overwritten-submits" class="text-center col-md-4">
            <span class="metric ratio-alert">500K</span>
            <h3>Overwritten submits</h3>
        </div>
        <div id="clean-submits" class="text-center col-md-4">
            <span class="metric ratio-alert">500K</span>
            <h3>Clean submits</h3>
        </div>
        <div id="total-submits" class="text-center col-md-4">
            <span class="metric ratio-info">1,1M</span>
            <h3>Submits</h3>
        </div>
    </div>

    <div class="row">
        <div id="submit-infos" class="col-md-12">
            <h3>Submit informations</h3>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th scope="col">Source</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="files-info" class="col-md-6">
            <h3>Type informations</h3>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="files-size-info" class="col-md-6">
            <h3>Size informations</h3>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th scope="col">Min</th>
                        <th scope="col">Max</th>
                        <th scope="col">Avg</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</main>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/lib/bootstrap-datepicker.min.js') }}"
        integrity="{{get_sri('static/js/lib', 'bootstrap-datepicker.min.js')}}"
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/lib/chart.min.js') }}"
        integrity="{{get_sri('static/js/lib', 'chart.min.js')}}"
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/stats.js') }}"
        integrity="{{get_sri('static/js', 'stats.js')}}"
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/dashboard.js') }}"
        integrity="{{get_sri('static/js', 'dashboard.js')}}"
        crossorigin="anonymous"></script>
{% endblock %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap-datepicker.min.css') }}"
        integrity="{{get_sri('static/css/lib', 'bootstrap-datepicker.min.css')}}"
        crossorigin="anonymous">
{% endblock %}
