{% extends "base.html" %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/dropzone.css') }}" type="text/css"
        integrity="{{get_sri('static/css/lib', 'dropzone.css')}}"
        crossorigin="anonymous">
{% endblock %}

{% block content %}
<div class="container">
  <div class="mb-3">
    <center>
      <h4>Pandora opens the box, so you don't have to!</h4>
    </center>
  </div>
  <div class="mb-3">
    {% if special_disclaimer %}
    <center>
    <div class="alert alert-danger" role="alert"><strong>Be extra careful, please.</strong><br/>
      {{special_disclaimer}}
    </div>
    </center>
    {% endif %}
  </div>


  <div class="md-3" onclick="toggle_password()">
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch" value="" id="checkPassword">
      <label class="form-check-label" for="checkPassword">
        The file is password protected
      </label>
    </div>
  </div>
  <div class="row g-3 align-items-center d-none" id="enable-password">
    <div class="col-auto">
      <label for="encryption-password" class="col-form-label">Password</label>
    </div>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="encryption-password" placeholder="String to use to decrypt the submission">
     </div>
  </div>
  </br>

  <div class="md-3" id="dropzone">
    <div class="dz-message" data-dz-message>
      <span><h2>Upload file, document, email or other</h2></span>
    </div>
  </div>

  {% if current_user.detailed_view %}
  <div class="md-3">
    <button class="btn btn-primary" onclick="$('#workers-selection').toggleClass('d-none');">Advanced</button>
  </div>
  {% endif %}

  <div class="md-3 d-none" id="workers-selection">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">Module</th>
            <th scope="col">Description</th>
            <th scope="col">Enable?</th>
          </tr>
        </thead>
        <tbody>
        {% for worker_name, worker_config in workers.items() %}
          {% if worker_config.meta.replicas > 0 %}
          <tr>
            <td>{{ worker_config.meta.name }}</td>
            <td>{{ worker_config.meta.description }}</td>
            <td><input type="checkbox" name="{{ worker_name }}" checked/></td>
          </tr>
          {% endif %}
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="md-3" style="font-size:12px">
    <center>
      <div class="alert alert-light" role="alert">
        <strong>DISCLAIMER</strong><br/>
        {{generic_disclaimer}}
      </div>
    </center>
  </div>

<div class="dz-preview dz-file-preview d-none" id="preview-template">
  <div class="dz-image"><img data-dz-thumbnail /></div>
  <div class="dz-details">
    <div class="dz-size"><span data-dz-size></span></div>
    <div class="dz-filename"><span data-dz-name></span></div>
  </div>
  <div class="dz-error-message"><span data-dz-errormessage></span></div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/lib/dropzone-min.js') }}"
        integrity="{{get_sri('static/js/lib', 'dropzone-min.js')}}"
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/submit.js') }}"
        integrity="{{get_sri('static/js', 'submit.js')}}"
        crossorigin="anonymous"></script>
<script type="text/javascript">
  $("div#dropzone").dropzone({
    url: "{{ api.url_for(api_resource) }}",
    headers: {"X-CSRF-Token": "{{ csrf_token() }}"},
    paramName: "file",
    maxFilesize: {{ max_file_size }}, // MB
    previewTemplate: document.querySelector('#preview-template').innerHTML,
    sending: function(file, xhr, formData) {
      formData.append("workersDisabled", getDisabledWorkers());
      formData.append("password", getPassword());
    },
    success: function(file, answer){
      if (file.previewElement) {
        file.previewElement.classList.add("dz-success");
      };
      window.setTimeout(function(){
        window.location = `/analysis/${answer.taskId}`;
      }, 500);
    },
    error: function(file, message) {
      document.querySelector('.dz-message').innerHTML = message;
      return
    }
  });
</script>

<script>
function toggle_password() {
  var checkBox = document.getElementById("checkPassword");
  var text = document.getElementById("enable-password");
  if (checkBox.checked == true){
    text.classList.remove("d-none");
  } else {
     text.classList.add("d-none");
  }
}
</script>
{% endblock %}
