{% extends "base.html" %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/dropzone.css') }}" type="text/css"
        integrity="{{get_sri('static/css/lib', 'dropzone.css')}}"
        crossorigin="anonymous">
{% endblock %}

{% block content %}
<div class="container">
  <div class="mb-3">
    {% if show_project_page %}
    <center>
      <h4>Pandora opens the box, so you don't have to!</h4>
    </center>
    {% endif %}
  </div>
  <div class="mb-3">
    {% if special_disclaimer %}
    <center>
    <div class="alert alert-danger" role="alert"><strong>Be extra careful, please.</strong><br/>
      {{special_disclaimer}}
    </div>
    </center>
    {% endif %}
  </div>


  <div class="md-3" onclick="toggle_password()">
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch" value="" id="checkPassword">
      <label class="form-check-label" for="checkPassword">
        The file is password protected
      </label>
    </div>
  </div>
  <div class="row g-3 align-items-center d-none" id="enable-password">
    <div class="col-auto">
      <label for="encryption-password" class="col-form-label">Password</label>
    </div>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="encryption-password" placeholder="String to use to decrypt the submission">
     </div>
  </div>
  </br>

  <div class="md-3" id="dropzone">
    <div class="dz-message" data-dz-message>
      <span><h2>Upload file, document, email or other</h2></span>
    </div>
  </div>
  <div id="previews"></div>

  {% if current_user.detailed_view %}
  <div class="md-3">
    <button class="btn btn-primary" onclick="$('#workers-selection').toggleClass('d-none');">Advanced</button>
  </div>
  {% endif %}

  <div class="md-3 d-none" id="workers-selection">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th scope="col">Module</th>
            <th scope="col">Description</th>
            <th scope="col">Enable?</th>
          </tr>
        </thead>
        <tbody>
        {% for worker_name, worker_config in workers.items() %}
          {% if worker_config.meta.replicas > 0 %}
          <tr>
            <td>{{ worker_config.meta.name }}</td>
            <td>{{ worker_config.meta.description }}</td>
            <td><input type="checkbox" name="{{ worker_name }}" checked/></td>
          </tr>
          {% endif %}
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="md-3" style="font-size:12px">
    <center>
      <div class="alert alert-light" role="alert">
        <strong>DISCLAIMER</strong><br/>
        {{generic_disclaimer}}
      </div>
    </center>
  </div>


<!-- HTML heavily inspired by http://blueimp.github.io/jQuery-File-Upload/ -->
<div class="table table-striped" class="files" id="previews">

  <div id="template" class="file-row">
    <!-- This is used as the file preview template -->
    <div>
        <p class="name" data-dz-name></p>
        <strong class="error text-danger" data-dz-errormessage></strong>
    </div>
    <div>
        <p class="size" data-dz-size></p>
        <div class="progress active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" aria-label="Uploading file">
          <div class="progress-bar bg-info" style="width:0%;" data-dz-uploadprogress></div>
        </div>
    </div>
  </div>

</div>

{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/lib/dropzone-min.js') }}"
        integrity="{{get_sri('static/js/lib', 'dropzone-min.js')}}"
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/submit.js') }}"
        integrity="{{get_sri('static/js', 'submit.js')}}"
        crossorigin="anonymous"></script>
<script type="text/javascript">
  // Get the template HTML and remove it from the doument.
  var previewNode = document.querySelector("#template");
  previewNode.id = "";
  var previewTemplate = previewNode.parentNode.innerHTML;
  previewNode.parentNode.removeChild(previewNode);
  $("div#dropzone").dropzone({
    url: "{{ api.url_for(api_resource) }}",
    headers: {"X-CSRF-Token": "{{ csrf_token() }}"},
    paramName: "file",
    maxFilesize: {{ max_file_size }}, // MB
    maxFiles: 1,
    previewTemplate: previewTemplate,
    previewsContainer: "#previews", // Define the container to display the previews
    sending: function(file, xhr, formData) {
      formData.append("workersDisabled", getDisabledWorkers());
      formData.append("password", getPassword());
    },
    success: function(file, answer){
      window.setTimeout(function(){
        window.location = `/analysis/${answer.taskId}`;
      }, 100);
    },
  });
</script>

<script>
function toggle_password() {
  var checkBox = document.getElementById("checkPassword");
  var text = document.getElementById("enable-password");
  if (checkBox.checked == true){
    text.classList.remove("d-none");
  } else {
     text.classList.add("d-none");
  }
}
</script>
{% endblock %}
