{% extends "base.html" %}
{% from 'bootstrap5/utils.html' import render_icon %}
{% from "macros.html" import display_task_status %}

{% block title %}
    My tasks
{% endblock %}

{% block content %}
  {% if current_user.role.can(['search_file_name', 'search_file_hash'], 'or') %}
    {% if current_user.role.can(['search_file_name', 'search_file_hash'], 'and') %}
        {% set placeholder = 'Filename or hash...' %}
    {% elif current_user.role.can('search_file_hash') %}
        {% set placeholder = 'MD5, SHA1, SHA256...' %}
    {% else %}
        {% set placeholder = 'Filename' %}
    {% endif %}
    <form class="row g-3 align-items-center" role="search" title="Search for hash"
        action={{ url_for('api_tasks') }} method="get">
        <div class="col-auto">
          <label class="form-label" for="searchInput">Search a submission</label>
        </div>
        <div class="col-auto">
          <input class="form-control me-2" name="query" class="search" id="searchInput"
                 style="width:400px" type="text" value="{{ search }}" required
                 placeholder="{{ placeholder }}">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
  {% endif %}
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>Id</th>
        <th>Owner</th>
        <th style="max-width:200px">Date</th>
        <th style="width:20px;text-align:center">Status</th>
        <th>Name</th>
        <th style="max-width:400px">SHA256</th>
        <th style="max-width:250px"></th>
      </tr>
    </thead>

    <tbody>
    {% for task in tasks %}
      <tr id="row-{{ task.uuid }}">
        <td>{{ task.uuid }}</td>
        <td>{% if task.user and task.user.name %}
              {{ task.user.name }}
            {% else %}
                {{ task.user_id }}
            {% endif %}
        </td>
        <td>{{ moment(task.save_date).format('lll') }}</td>
        <td style="text-align:center">
          {{ display_task_status(task.status, status) }}
        </td>
        <td>{{ render_icon(task.file.icon) }}<b>{{ task.file.original_filename }}</b></td>
        <td class="text-break">{{ task.file.sha256 }}</td>
        <td>
          <a href="{{ url_for('api_analysis', task_id=task.uuid) }}">
            <span class="btn btn-primary mt-1">See report</span>
          </a>
        {% if current_user.is_admin %}
          {% if task.file.deleted %}
            <span class="btn btn-default mt-1">File deleted</span>
          {% else %}
            <span id="delete-{{ task.uuid }}" class="btn btn-danger mt-1"
                  onclick="javascript:deleteFile($(this).attr('data-url'), $(this).attr('data-uid'))"
                  data-url="{{ api.url_for(api_resource, task_id=task.uuid, action='delete') }}" data-uid="{{ task.file.uuid }}">
                Delete file
            </span>
          {% endif %}
        {% endif %}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% if current_user.is_admin %}
  <script>
      function deleteFile(url, uid) {
          if (! confirm("Are you sure you want to delete this file ? That action is irreversible !")) {
              return false;
          }
          fetch(url, {
            method: "POST",
            headers: {
              "X-CSRF-Token": "{{ csrf_token() }}"
            }
          })
          .then(response => response.json())
          .then(data => {
            if (data.success === false) {
              throw new Error(data.error);
            }
            $(`[data-uid=${data.file_id}]`).attr("onclick", "").toggleClass("btn-default btn-danger").html('File deleted');
          })
          .catch((error) => {
            alert("An error has occurred while removing file : " + error);
          });
      };
  </script>
  {% endif %}

{% endblock %}
