meta:
  name: Blocklists
  description: Mark some mimetypes and file extensions as malicious by default.
  replicas: 5

settings:
  enable_extensions: false
  overwrite_extensions:
    # The extensions listed here will cause the report (and the task) to be marked as undecidable
    # It is not recommended but can be useful if you have files you know are legitimate but
    # will be flagged as malicious by the module, or any other module
    - my_overwritten_ext
  malicious_extensions:
    - exe
    - iso
    - msi
    - jar
    - lnk
    - reg
    - dll
    - scr
    - bat
    - cmd
    - vb
    - vbs
    - vbe
    - rev
  enable_mimetypes: false
  malicious_mimetypes:
    - application/octet-stream

status_in_report:
  # the extension is one of the malicious extensions listed above
  malicious_extension: ALERT
  # The mimetype is one of the malicious mimetypes listed above
  malicious_mimetype: ALERT
  # Unable to guess the mimetype of the file from the content (magic failed)
  no_mimetype: ALERT
  # Unable to guess the mimetype o the file from its extension
  cannot_guess_mimetype: ALERT
  # The mimetype of the file does not match its extension
  missmatch_mimetype: WARN
