meta:
  name: Lookyloo
  description: Lookyloo is a web interface allowing to scrape a website and then displays a tree of domains calling each other.

settings:
  apiurl: https://lookyloo.circl.lu/
  autosubmit: false
  public_listing: false
  referer: null
  user_agent: null
  http_headers: {}
  cookies: {}
  proxy: null
