The website, its software and all content found on it are provided on an “as is” and “as available” basis.
The administrator does not give any warranties, whether express or implied,
as to the suitability or usability of the website, its software or any of its content.

</br>

The administrator will not be liable for any loss, whether such loss is direct,
indirect, special or consequential, suffered by any party as a result of their
use of the website, its software or content. Any downloading or uploading of material
to the website is done at the user’s own risk and the user will be solely responsible
for any damage to any computer system or loss of data that results from such activities.
Should you encounter any bugs, glitches, lack of functionality or other problems
on the website, please let us know immediately so we can rectify these accordingly.

</br>

Your help in this regard is greatly appreciated.
