{
    "loglevel": "INFO",
    "website_listen_ip": "0.0.0.0",
    "website_listen_port": 6100,
    "systemd_service_name": "pandora",
    "_notes": {
        "loglevel": "(lookyloo) Can be one of the value listed here: https://docs.python.org/3/library/logging.html#levels",
        "website_listen_ip": "IP Flask will listen on. Defaults to 0.0.0.0, meaning all interfaces.",
        "website_listen_port": "Port Flask will listen on.",
        "systemd_service_name": "(Optional) Name of the systemd service if your project has one."
    }
}
