{
    "imap_server": "mail.myimap.server",
    "imap_login": "me@myimap.server",
    "imap_password": "password",
    "imap_folder": "Inbox",
    "smtp_server": "mail.mysmtp.server",
    "smtp_port": 25,
    "from": "Pandora <pandora@myorg.server>",
    "_nodes": {
        "imap_server": "IMAP server to fetch the mails from",
        "imap_login": "Login on that IMAP server",
        "imap_password": "Password in that IMAP server",
        "imap_folder": "Folder where the script will look at unseen messages",
        "smtp_server": "SMTP server to use to send replies",
        "smtp_port": "SMTP port of the SMTP server",
        "from": "Email address for the replies"
    }
}
