Dear {recipient},

You forwarded a mail to Pandora, here is the link to see the result:
* {permaurl}

And it has also been submitted to MISP, here is the link to see the result:
* {permaurl_misp}

Best regards,
{sender}
