<strong>Malicious File! </strong> This file is know malicious, or uses techniques seen in attacks, more details below.
<br>

<strong>Recommendations: </strong>
<br>
If this file comes from an unknown source, we advise you to delete it.
If this file has been opened, please contact your system administrator.
</br>
If this file comes from a known trusted source, please get in touch with
your system administrator before opening it to make sure it is expected.
