<strong>Clean File! </strong>
<br>
No technical indicator for suspicious activity has been found in this file.
</br>
It doesn't mean it is for sure safe to open but you can be relatively confident looking at it won't harm your computer.
Pandora does not look for wrong information, a <strong>phishing document</strong> might be considered clean.
</br>
If looking at the preview is enough for you, no need to open it on your computer!
