defaults:
  cache: 1h
  timeout: 1m
  replicas: 1
workers:
  - module: irma
    apiurl: ''
    apitimeout: 1m
    timeout: 2m
  - module: malwarebazaar
    apikey: ''
  - module: virustotal
    apikey: ''
  - module: mwdb
    apikey: ''
  - module: hybridanalysis
    apiurl: 'https://www.hybrid-analysis.com/api/v2/'
    apikey: ''
  - module: joesandbox
    apiurl: 'https://jbxcloud.joesecurity.org/api'
    apikey: ''
  - module: extractor
    replicas: 5
  - module: hashlookup
    replicas: 5
  - module: msodde
    replicas: 3
  - module: xmldeobfuscator
    replicas: 3
  - module: ole
    replicas: 5
  - module: preview
    replicas: 5
