name: Python lint

on:
  push:
    branches:
      - main
      - devel-*
  pull_request:
    branches: [ "main", "develop" ]

permissions:
  contents: read

env:
  SEMGREP_RULES: >-  # https://semgrep.dev/explore
    p/security-audit
    p/secrets
    p/flask
    p/python

jobs:
  build:
    permissions:
      contents: read

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.11', '3.12', '3.13', '3.14']

    steps:
    - uses: actions/checkout@v6

    - name: Install poetry
      run: pipx install poetry

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: ${{matrix.python-version}}
        cache: 'poetry'

    - name: Install System deps
      run: |
        sudo apt update
        sudo apt install python3-dev  # for compiling things
        sudo apt install libpango-1.0-0 libharfbuzz0b libpangoft2-1.0-0  # For HTML -> PDF
        sudo apt install libreoffice-base-nogui libreoffice-calc-nogui libreoffice-draw-nogui libreoffice-impress-nogui libreoffice-math-nogui libreoffice-writer-nogui  # For Office -> PDF
        sudo apt install exiftool  # for extracting exif information
        sudo apt install libfuzzy-dev  # for pydeep, until the wheel is available for python 3,13
        sudo apt install libcairo2-dev  # for svglib

    - name: Install with poetry
      run: |
        poetry install

    - name: bandit
      run: |
        poetry run bandit -c pyproject.toml -r .
      if: ${{ always() }}

    - name: codespell
      uses: codespell-project/actions-codespell@master
      with:
        skip: ./cache/cache.conf,./poetry.lock,./storage/kvrocks.conf,./website/web/templates/submit_fr.html,./website/web/templates/analysis_fr.html
        ignore_words_file: .codespellignore
      if: ${{ always() }}

    - name: flake8
      run: |
        poetry run flake8 . --show-source --statistics --exclude yara_repos
      if: ${{ always() }}

    - name: pylint
      run: |
        poetry run pylint -ry bin pandora tools website
      if: ${{ always() }}

    - name: semgrep
      run: |
        poetry run semgrep --config auto
      if: ${{ always() }}
