name: Python application - MyPy

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main", "develop" ]

permissions:
  contents: read

jobs:
  build:
    permissions:
      contents: read

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']
    name: Python ${{ matrix.python-version }} sample

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: ${{matrix.python-version}}

    - name: Install System deps
      run: |
        sudo apt install libfuzzy-dev  # for pydeep, until the wheel is available for python 3.13
        sudo apt install libcairo2-dev  # for svglib

    - name: Install poetry
      run: |
        python -m pip install --upgrade pip poetry
        poetry install

    - name: Test with MyPy
      run: |
        poetry run mypy .
