name: Python application - MyPy

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13']
    name: Python ${{ matrix.python-version }} sample

    steps:
    - uses: actions/checkout@v5
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{matrix.python-version}}

    - name: Install System deps
      run: |
        sudo apt install libfuzzy-dev  # for pydeep, until the wheel is available for python 3.13

    - name: Install poetry
      run: |
        python -m pip install --upgrade pip poetry
        poetry install

    - name: Test with MyPy
      run: |
        poetry run mypy .
